{% extends 'base.html' %}

{% block content %}
<style>

body {
    background-color: #0DD8E9; /* Change this to the desired blue color */
    color: black; /* Set the text color to contrast with the background */
}
</style>
<h1>Add New Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}